# Log level: debug, info, warn, error
LOG_LEVEL=info
{{- if has "postgres"}}

# PostgreSQL Database URL
DATABASE_URL=postgres://postgres:postgres@localhost:5432/app?sslmode=disable
{{- end}}
{{- range injections "env_vars"}}
{{.}}
{{- end}}
